
{{!-- Display the error/ access rights here --}}
<div class="admin-error flex justify-center">
    {{#if error}}
        <h1 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md mb-4 mt-[10px]">
            {{error}}
        </h1>
    {{/if}}
</div>


{{!-- If an admin is accessing this page, display the following --}}
{{#unless error}}
    
    {{!-- Title --}}
    <div class="admin-all-container p- shadow-md rounded-md">

        <div class="title text-2xl font-heading font-bold mb-4 mt-4 flex justify-center">
            <h1>ALL EVENTS</h1>
        </div>


    {{!-- Filtering Forms --}}
    <div class="admin-all-form shadow-md rounded-md">
        <form method = "GET" class="mb-4">

            {{!-- Title Input --}}
            <br>
            <label for="title" class="block text-gray-600 text-sm font-semibold mb-2"> Title:</label>
            <input type="text" name = "title" value = "" placeholder="Search by Event Title" class = "search-area w-full px-3 py-2 border rounded-md mb-2">

            {{!-- Price Input --}}
            <br>
            <label for="price" class="block text-gray-600 text-sm font-semibold mb-2"> Price: </label>
            <input type="text" name = "price" value = "" placeholder="Search by Event Price" class = "search-area w-full px-3 py-2 border rounded-md mb-2">
        
            
            <br>
            {{!-- Buttons --}}
            <input type="submit" value = "Filter" class = "submit-button bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-tert-600 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-tert-300 shadow-md">
            <input type="submit" value="Clear All" class = "submit-button bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-tert-600 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-tert-300 shadow-md">
        
        </form>
    </div>



    {{!-- Event Table --}}
    <div class = "admin-all-table bg-secondary-100 shadow-md rounded-md">
        <table class="w-full font-body">

            {{!-- Table Row Header --}}
            <tr class="bg-tert-500 text-white">
                <th class="py-2 px-4"> Title </th>
                <th class="py-2 px-4"> Date </th>
                <th class="py-2 px-4"> Venue </th>
                <th class="py-2 px-4"> Description </th>
                <th class="py-2 px-4"> Price ($) </th>
                <th class="py-2 px-4"> Participants </th>
                <th class="py-2 px-4"> Edit/ Delete </th>
                <th class="py-2 px-4"> User Reviews </th>
            </tr>

            {{!-- Loop through all the events and display relevant columns --}}
            {{#each events}}
            
                <tr class="border-b">

                <td class="py-2 px-4 text-center"> {{title}} </td>
                <td class="py-2 px-4 text-center"> {{date}} </td>
                <td class="py-2 px-4 text-center"> {{venue}} </td>
                <td class="py-2 px-4 text-center"> {{description}} </td>
                <td class="py-2 px-4 text-center"> {{price}} </td>

                {{!-- Participants --}}
                <td class="py-2 px-4 text-center">
                    <a href="/admin/events/participants/{{this._id}}" class="text-blue-500 hover:underline"> {{numUsers}}: View All</a>
                </td>

                {{!-- Edit/ Delete --}}
                <td class="py-2 px-4 text-center">
                    <a href="/admin/events/edit/{{this._id}}" class="text-green-500 hover:underline">Edit</a> | 
                    <a href="/admin/events/delete/{{this._id}}" class="text-red-500 hover:underline">Delete</a>
                </td>

                {{!-- User Reviews --}}
                <td class="py-2 px-4 text-center">
                    <a href="/admin/events/reviews/{{this._id}}" class="text-blue-500 hover:underline">View Reviews</a>
                </td>
                
                </tr>

            {{/each}}


        </table>

    </div>





    </div>
{{/unless}}