
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Favicon --}}
    <link rel="shortcut icon" href="/img/favicon-512.png" type="image/x-icon">

    {{!-- Stylesheets --}}
    <link rel="stylesheet" href="/stylesheets/style.css">

    {{!-- Script for Google reCAPTCHA --}}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <title>TicketVista</title>

</head>
<body class="bg-[#DDE6ED] min-h-screen flex flex-col bg-cover bg-center bg-no-repeat" style="background-image: url('/img/bg-2-rocketpixel.jpg');">


        <div class="nav-bar bg-primary-100 text-white py-2 px-4 flex justify-between items-center">

            {{!-- Logo --}}
            <div class="logo">
                <a href="/">
                    <img src="/img/ticket.png" alt="TicketVista" width = "80">
                </a>
            </div>

            {{!-- Banner Title --}}
            <div class="banner text-4xl font-heading absolute top-[40px] left-1/2 transform -translate-x-1/2 -translate-y-1/2 mt-4">
                <a href="/">
                    <h1>TicketVista</h1>
                </a>

                <!-- User-Specific Navigation Links -->
                <div class="user-navigation py-4 text-center font-heading text-sm mt-1 text-secondary-200">
                    
                    {{#if isLoggedIn}}

                        {{#if isAdmin}}

                                <a href="/admin/events" class=" hover:text-secondary-200 hover:underline mx-1">Dashboard</a>
                                <a href="/admin/newEvent" class="hover:text-secondary-200 hover:underline mx-1">New Event</a>
                                <a href="/register" class="hover:text-secondary-200 hover:underline mx-1">New User</a>
                        
                        {{else}}
                            
                             <a href="/u/{{pageName}}/events" class=" hover:text-secondary-200 hover:underline mx-4">Dashboard</a>
                             <a href="/u/{{pageName}}/book" class="hover:text-secondary-200 hover:underline mx-4">Book</a>

                        {{/if}}

                    {{else}}
                    
                        <!-- User is not logged in, show login and register links -->
                        <a href="/login" class=" hover:text-secondary-200 hover:underline mx-2">Login</a>
                        <a href="/signup" class="hover:text-secondary-200 hover:underline mx-2">SignUp</a>
                    
                    {{/if}}
                
                {{!-- end of user specific links div --}}
                </div>

            {{!-- end of navbar div --}}
            </div>

            {{!-- User's Info --}}
            <div class="pageName text-lg font-semibold flex items-center text-secondary-100">
                

                {{!-- Logout Button --}}
                {{#if isLoggedIn}}
                    <h3> Welcome, 
                        <span class = "text-orange-500 font-extrabold">
                            {{pageName}}! 
                        </span>    
                    </h3>

                    <form action="/logout" method="POST">
                        <button type="submit" class="ml-2 bg-red-500 hover:bg-red-700 text-white font-semibold py-1 px-2 rounded focus:outline-none focus:shadow-outline-red">Logout</button>
                    </form>
                
                {{else}}

                    <h3> Hello, 
                        <span class="text-secondary-300 font-extrabold">
                            Guest! 
                        </span>
                    </h3>

                    <div class="home-button">
                        
                        <a href="/">
                            <button class="ml-2 bg-gradient-to-r from-secondary-600 to-tert-700 hover:from-secondary-700 hover:to-tert-800 font-button text-white font-semibold py-2 px-4 rounded-md focus:outline-none focus:shadow-outline-tert-300 shadow-md">
                                HOME
                            </button>
                        </a>

                    </div>

                {{/if}}
                
            </div>


    </div>

    <div class="flex-grow">
        {{{body}}}
    </div>


    {{!-- single line footer for copyright --}}
    <!-- single line footer for copyright -->
    <footer class="bg-[#212A3E] text-white py-2 px-4 mt-auto flex items-center justify-center">
        <div class="footer text-[0.6rem] font-button font-semibold">
            <h3>&copy; 2023 TicketVista. All rights reserved.</h3>
        </div>
    </footer>


</body>


</html>