
{{!-- <h1>List of participants for {{event.title}}</h1> --}}

<div class="login-error flex justify-center">
    {{#if error}}
        <h1 class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-md mb-4 mt-[10px]">
            {{error}}
        </h1>
    {{/if}}
</div>

{{#if event}}

    <div class="event-participants p-4 shadow-md rounded-md">

        <div class="title text-2xl font-heading font-bold mb-4 mt-4 flex justify-center">
           <h1>List of Participants For The {{event.title}} Event</h1>
        </div>

        {{#if event.participants.length}}

            <table class="w-full font-body">
                
                <!-- Table Row Header -->
                <tr class="bg-tert-500 text-white">
                    <th class="py-2 px-4 border">Name</th>
                    <th class="py-2 px-4 border">Username</th>
                </tr>

                <!-- Loop through all the participants and display relevant columns -->
                {{#each event.participants}}
                    <tr>
                        <td class="py-2 px-4 text-center">{{name}}</td>
                        <td class="py-2 px-4 text-center">{{username}}</td>
                    </tr>
                {{/each}}
            </table>

        {{else}}

            <p class="flex justify-center">No participants for this event yet.</p>

        {{/if}}

    </div>

{{/if}}
