
<h1>List of participants for {{event.title}}</h1>

{{#if error}}
    
    <h1 class="text-red-600 text-xl font-bold mb-4">{{error}}</h1>

{{/if}}

{{#if event}}

    <div class="event-participants">

        {{#if event.participants.length}}

            <table class="w-full">
                
                <!-- Table Row Header -->
                <tr class="bg-blue-500 text-white">
                    <th class="py-2 px-4">Name</th>
                    <th class="py-2 px-4">Username</th>
                </tr>

                <!-- Loop through all the participants and display relevant columns -->
                {{#each event.participants}}
                    <tr>
                        <td class="py-2 px-4">{{name}}</td>
                        <td class="py-2 px-4">{{username}}</td>
                    </tr>
                {{/each}}
            </table>

        {{else}}

            <p>No participants for this event yet.</p>

        {{/if}}

    </div>

{{/if}}
