
<h1>Event Details</h1>
<br><br>

<p><strong>Event Name:</strong> {{event.title}}</p>
<p><strong>Event Date:</strong> {{event.date}}</p>
<p><strong>Event Venue:</strong> {{event.venue}}</p>
<p><strong>Description:</strong> {{event.description}}</p>
<p><strong>Price:</strong> {{event.price}}</p>

<br><br>

<!-- Options for the user -->
<form action="/u/{{userFound.username}}/unbook/{{event._id}}" method="POST">
    
    <button type="submit">Unbook this Event</button>

</form>

