


{{#if error}}
    <h1 class="text-red-600 text-xl font-bold mb-4">{{error}}</h1>
{{/if}}

<h1> Events Booked by {{userFound.name}}</h1>


{{#if userEvents.length}}

    <div class="user-events-table">
        <table class="w-full">

            <!-- Table Row Header -->
            <tr class="bg-blue-500 text-white">
                <th class="py-2 px-4"> Title </th>
                <th class="py-2 px-4"> Date </th>
                <th class="py-2 px-4"> Venue </th>
                <th class="py-2 px-4"> Description </th>
            </tr>

            <!-- Loop through all the events and display relevant columns -->
            {{#each userEvents}}
                <tr>
                    <td class="py-2 px-4"> {{title}} </td>
                    <td class="py-2 px-4"> {{date}} </td>
                    <td class="py-2 px-4"> {{venue}} </td>
                    <td class="py-2 px-4"> {{description}} </td>
                </tr>
            {{/each}}

        </table>
    </div>

{{else}}

  <p>No events booked by {{userFound.name}}</p>

{{/if}}
